*{
    text-align: center;
}

th{
    width: 100px;
    background-color: rgb(104, 104, 104);
    color: white;
}

.especial{
    width: 200px;
}
table{
    border-radius: 15px;
}

.welcome{
    margin: 5%;
    color: aquamarine;
}

.my_table{
    margin: auto;
}

.rocket_planet{
    background-color: rgb(103, 182, 103);
}

.gas_planet{
    background-color: aqua;
}